.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #d6dade;
  color: black;
}

.dark {
  background-color: #26272a;
  color: white;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}


