.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 20px;
  background-color: #d6dade;
  color: black;
  height: 100vh;
}

.dark {
  background-color: #26272a;
  color: white;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw; 
}


.toggle{
  top:30px;
  right: 30px;
  position: fixed;
}

@media screen and (max-width: 767px) {
  .toggle{
    top:10px;
    right: 10px;
    position: fixed;
  }
}


